.carousel {
  width: 100vw;
  height: 45rem;
}

.carousel-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 3rem;
  cursor: pointer;
  margin: 3rem;
  color: var(--primary-bg-color);
}

.hero-btn{
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 1rem;
  margin-right:25rem;
  color: var(--primary-text-color);
}
.hero-btn:hover{
  background-color: var(--primary-bg-color);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .hero-btn{
    font-size: 1.5rem;
    margin: 0px;
  }

  .carousel {
    height: 20rem;
    width: 100vw;
  }

  .carousel-container {
    background-size: cover;
  }
}