.toast__container {
    width: auto;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    text-align: center;
    z-index: 9;
    background-color: red;
    visibility: visible;
}

.close-toast-success {
    cursor: pointer;
    padding: 5px;
}

.close-toast-success:hover {
    opacity: 0.4;
}