.banner_section {
  margin-bottom: 0;
}

.slider {
  position: relative;
}

.slider_item_content {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
}

.slider_title {
  margin-bottom: 20px;
  font-size: 3.5rem;
  color: var(--azure-color);
}

.slider_subtitle {
  margin-bottom: 70px;
  font-size: 1.5rem;
}

.slider_subtitle span {
  color: var(--azure-color);
}

@media only screen and (max-width:768px) {
  .slider_title {
    font-size: 2.5rem;
  }

  .slider_subtitle {
    font-size: 1rem;
  }
}