.product-page-container {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-areas: "sidebar maincontent";
}

.product-display-container {
  background-color: var(--white);
  height: auto;
  grid-area: maincontent;
  width: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-display-container-mb {
  display: none;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  column-gap: 2rem;
}

.card__icon {
  font-size: 3rem;
}

.filter-and-clear-bar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 2rem;
  width: 100%;
  padding: 2rem;
  background-color: var(--primary-bg-color);
}

.filter-text,
.clear-filter-text {
  cursor: pointer;
  color: var(--primary-text-color);
}

.filter-text:hover,
.clear-filter-text:hover {
  color: var(--black);
}

@media only screen and (max-width: 600px) {
  .product-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "maincontent";
  }
  .product-display-container {
    width: auto;
  }
  .sub-heading {
    margin-top: 30px;
  }
}
