.card__container {
  cursor: pointer;
  box-shadow: none;
}

.card__container:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__image {
  height: 250px;
}

.card__btn-primary:hover {
  color: var(--primary-bg-color);
}

.card__icon:hover {
  color: var(--secondary-bg-color);
}

.card__icon-dark{
 
  color: var(--secondary-bg-color);
}

.card__icon-dark:hover{
  color: var(--primary-bg-color);
}

@media only screen and (max-width: 600px) {
  .card__container {
    width: 140px;
  }
  .card__image {
    height: 160px;
  }
  .card__title {
    font-size: 2rem;
  }
}
