@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Inter:wght@300&family=Petemoss&display=swap");

.top-bar {
  background-image: url("../../assets/Images/topbarImage2.jpg");
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.topbar-sale-title {
  margin-right: 5rem;
}

.top-bar-wrapper {
  display: flex;
  flex-direction: row;
}

.top-bar-item {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  z-index: 4;
  color: var(--primary-text-color);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .top-bar {
    height: 4rem;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
  }
  .top-bar-item {
    display: none;
  }
  .topbar-sale-title {
    display: block;
    width: 100%;
  }
}
