.filter-sidebar {
  background-color: var(--white);
  min-height: calc(100vh - 6rem);
  height: auto;
  grid-area: sidebar;
  width: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter-sidebar-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}

.filter-heading {
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--primary-text-color);
}

.filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.price-filter {
  font-size: 2rem;
  outline: none;
  width: auto;
  padding: 1rem;
  height: 5rem;
  border-radius: 10px;
  cursor: pointer;
}

.clear-all {
  cursor: pointer;
}

.clear-all:hover {
  color: var(--primary-text-color);
}

.slider-container {
  margin: 10px 0px;
}

.slider {
  -webkit-appearance: none;
  border-radius: 10px;
  color: red;
  width: 80%;
  height: 15px;
  background-color: var(--primary-bg-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--secondary-bg-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.filter-sidebar-sm {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--white);
  z-index: 6;
  width: 100%;
  max-height: fit-content;
}

@media only screen and (max-width: 600px) {
  .filter-sidebar {
    display: none;
  }
  
  .close-sidebar {
    font-size: 3rem;
    cursor: pointer;
  }
}
