.checkout {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 20%;
}

.checkout-left {
    width: 63%;
    display: flex;
    flex-direction: column;
}

.checkout-line {
    display: flex;
    justify-content: center;
}


.line {
    position: relative;
    text-align: center;
    padding: 0 5px;
    font-size: 1.3rem;
}

.line::before,
.line::after {
    content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #b5acac;
        position: absolute;
        top: 40%;
}

.line::before {
    right: 100%;
}

.line::after {
    left: 100%;
}

.checkout-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc;
    margin-top: 10px;
}

.checkout-details h3 {
    padding-top: 10px;
}

.checkout-details-btn {
    border: none;
    background-color: #ff8800;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
}


.checkout-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 37%;
    border: 1px solid #cccccc;
    margin-top: 4.5%;
    height: fit-content;
}   

.buy-btn {
    background-color: #3E5962;
    border: none;
    width: 200px;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.buy-btn:hover {
    background-color: #3b4e54;
    transform: scale(0.9);
}

@media screen and (max-width: 900px) {
    .checkout {
        margin: 10px 10%;
    }

    .checkout-right {
        width: 40%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 768px) {
    .checkout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .checkout-details h3 {
        font-size: 16px;
    }

    .checkout-right {
        width: 60%;
        margin-bottom: 37px;
    }
}