@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.navbar a {
    color: #fff;
}

.navbar-first {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #3E5962;
    width: 100%;
}

.navbar-right {
    display: flex;
    justify-content: space-around;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    font-size: 1.1rem;
    color: #fff;
}

.navbar-links a {
    font-size: 1.8rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    color: #333;
}

.dropdown select:focus {
    outline: none;
    border-color: #3E5962;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.dropdown::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown select option {
    background-color: #3E5962;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown select::-ms-expand {
    display: none;
}

.dropdown::after {
    content: '\25BC';
    color: #666;
    font-size: 12px;
    margin-left: 5px;
}

.title {
    display: flex;
    align-items: center;
}

.title h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.navbar-wishlist {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.wishlist {
    display: flex;
    gap: 5px;
}

.navbar-wishlist-icon {
    cursor: pointer;
    color: #C39F43;
}

.navbar-second {
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-search {
    display: flex;
    align-items: center;
    gap: 20px;
   position: relative;
   width: 100%;
   margin: 0 20px 0 10px;
}

.back-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-search input {
  width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #3E5962;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.navbar-search input[type="text"] {
    padding-right: 20px;
    outline: none;
}

.navbar-cart {
    margin-top: 10px;
}

.cart-icon {
    font-size: 2.1rem;
    align-self: center;
    margin-top: 20px;
    color: #3E5962;
}

.count-cart {
    position: relative;
    top: -40px;
    right: -20px;
    background-color: #3E5962;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    text-align: center;
    font-size: 0.8rem;
}

.search-results {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-results p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.search-results p:hover {
    background-color: #f4f4f4;
}
