.singleProductPage-container {
    height: 60rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.singleProductPage-img {
    width: 50rem;
    height: 40rem;
}

.singleProductPage-title {
    font-size: 3rem;
}

.singleProductPage-desc {
    font-size: 1.5rem;
    color: var(--secondary-text-color)
}

.singleProductPage-info {
    font-size: 1.5rem;
    color: var(--secondary-text-color)
}

.singleProductPage-price {
    font-size: 1.5rem;
}

.singleProductPage-rating {
    font-size: 1.5rem;
}

.singleProductPage-discount {
    font-size: 1.5rem;
    color: var(--secondary-bg-color);
}

.singleProductPage-btn {
    font-size: 1.5rem;
}

.heart-icon-single-prd-page {
    cursor: pointer;
}

.heart-icon-single-prd-page:hover {
    color: var(--secondary-bg-color);
}

@media only screen and (max-width: 600px) {
    html {
      font-size: 50%;
    }
  
    .singleProductPage-container{
        display: flex;
        flex-direction: column;
        margin-top: 20rem;
        width: 80%;
        
    }
    
    .singleProductPage-img{
        width: 40rem;
        height: 30rem;
    }
    
    .singleProductPage-title {
        font-size: 2rem;
    }
  }
  