.subheader-container {
  height: 5rem;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.subheader-section {
  width: fit-content;
}

.subheader-title {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0px;
  position: relative;
  padding: 1rem;
  color: var(--primary-text-color);
}

.subheader-title:hover {
  border-bottom: 2px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
}

.subheader-dropdown-makeup,
.subheader-dropdown-skincare,
.subheader-dropdown-haircare,
.subheader-dropdown-menstrual-hygiene {
  flex-direction: column;
  background-color: white;
  display: none;
  position: absolute;
  padding: 2rem;
  margin-top: 0px;
}

.subheader-items {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0px;
}

.subheader-items:hover {
  color: var(--secondary-text-color);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .subheader-container {
    display: none;
  }
}