.profile-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.title {
  color: var(--secondary-bg-color);
  font-weight: 900;
  font-size: 4rem;
}

.user-info-display {
  margin: 60px 30px;
}

.address-container {
  margin-left: 90px;
}

.address-btns {
  font-size: 2rem;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
  margin: 5px 1rem;
}

.address-btn-remove {
  background-color: var(--secondary-bg-color);
  color: var(--white);
  margin-top: 2px;
  font-size: 1.5rem;
}

.address-btn-edit {
  background-color: var(--primary-bg-color);
  color: var(--secondary-bg-color);
  margin-top: 2px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .profile-page-container {
    flex-direction: column;
  }
  .title {
    font-weight: 900;
    font-size: 3rem;
  }
  .address-container {
    margin-left: 30px;
  }
}
